body {
  font-family: Arial, Helvetica, sans-serif;

}

.navbar-nav {
  float: right;
  position: fixed;
  right: 10px;
  border-right: 10px;
  margin-right: 10px;
}

.card {
  visibility: hidden;
  
}
.footer {
  text-align: center;
  font-style: italic;
  font-size: large;
  color: pink;
  height: 50px;
  
}
.footerPosition {
  padding-bottom: 0px;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container {
  min-height: calc(90vh - 50px);
}