body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav {
  float: right;
  position: fixed;
  right: 10px;
  border-right: 10px;
  margin-right: 10px;
}

.card {
  visibility: hidden;
  
}
.footer {
  position: fixed;
  left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;

}