body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: rgb(11, 11, 164);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 164, 1) 2%,
    rgba(0, 212, 255, 1) 100%
  ); */
  /* background-color: #f1f1f1; */
}
/* NAV STYLING */
.navbar-nav {
  float: right;
  position: fixed;
  right: 10px;
  border-right: 10px;
  margin-right: 10px;
}

a.navbar-brand {
  font-weight: bold;
  color: pink !important;
}

a.nav-item {
  color: grey !important;
}
a.nav-item:hover {
  color: pink !important;
  font-weight: bold;
  font-style: italic;
}
/* a.nav-item:active {
  color: blue !important;
  font-weight: bold;
  font-style: italic;
} */

.bg-light {
  background-color: transparent !important;
}

/* CARD STYLING */
.card,
#saveBtn {
  visibility: hidden;
}
.footer {
  text-align: center;
  font-style: italic;
  font-size: large;
  color: pink;
  height: 50px;
}
.footerPosition {
  padding-bottom: 0px;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container {
  min-height: calc(90vh - 50px);
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#welcome {
  margin-top: 5rem;
  text-align: center;
}

.searchContents {
  text-align: center;
  margin-bottom: 5rem;
}

#celebrityInfo {
  align-content: center;
  /* color: white; */
}

.card-text {
  text-align: center;
}

.horoscopeHeader {
  padding-top: 0.5rem;
  /* padding-bottom: 0.25rem; */
  text-align: center;
  /* border-bottom: 2px;
  border-bottom-style: solid;
  border-color: grey; */
}
.card-img {
  padding: 1rem;
}

#saveBtn {
  bottom: -57px;
  right: 0;
  position: absolute;
  max-width: 5rem;
}
/* JUMBOTRON STYLING */
.jumbotron {
  background-color: rgb(255, 180, 192) !important;
  text-align: center;
  margin-top: 20rem;
  align-content: center;
}

h1.jumboHeader {
  font-weight: bolder;
}

@media only screen and (max-width: 980px) {
  .jumbotron {
    background-color: rgb(255, 180, 192) !important;
    text-align: center;
    margin-top: 10rem;
    align-content: center;
  }
}
@media only screen and (max-width: 780px) {
  .jumbotron {
    background-color: rgb(255, 180, 192) !important;
    text-align: center;
    margin-top: 0rem;
    align-content: center;
  }
}
